<div class="projects-container">
  <header>
    <div class="menu">
        <!-- <app-menu></app-menu> -->
    </div>
    <div class="logo">
        <a routerLink="/home">
            <img class="logo-desktop" src="/assets/logo-desktop-blue.png">
        </a>
    </div>
    <div class="contact-us">
        <a href="mailto:jsb@phantasmagorics-interiors.com">CONTACT US</a>
    </div>
</header>
  <!-- <app-menu class="projects-menu"></app-menu> -->
  <h1>/PROJECTS</h1>
  <div class="thumbnails-container">
      <div class="thumbnail">
        <a [routerLink]="'/projects/131w82'">
          <img src="/assets/thumbnails/131.jpg" alt="Project 131W82 - NEW">
        </a>
      </div>

      <div class="thumbnail">
        <a [routerLink]="'/projects/141w85'">
          <img src="/assets/thumbnails/141.jpg" alt="Project 141W85 - NEW">
        </a>
      </div>

      <div class="thumbnail">
        <a [routerLink]="'/projects/301w118'">
          <img src="/assets/thumbnails/301.jpg" alt="Project 301W118">
        </a>
      </div>
      <div class="thumbnail">
        <a [routerLink]="'/projects/hotel'">
          <img src="/assets/thumbnails/hotel.jpg" alt="Project Hotel Somewhere">
        </a>
      </div>

      <div class="thumbnail">
        <a [routerLink]="'/projects/statusquo'">
          <img src="/assets/thumbnails/status.jpg" alt="Project Status Quo">
        </a>
      </div>

  </div>
