<header
  class="flex md:flex-row flex-col w-full md:items-center items-start md:justify-between"
  [ngClass]="{'text-phantasmagorics-white': isWhiteText, 'text-phantasmagorics-blue': !isWhiteText}"
>
  <app-menu [menuImageUrl]="menuImageUrl" [isWhiteText]="isWhiteText"/>
  <div class="hidden z-10 md:block absolute top-[70px] left-1/2 transform -translate-x-1/2">
    <a class="w-full block text-sm cursor-pointer" href="home">
      <img id="desktop" loading="lazy" class="md:h-[40px]" [src]="desktopImageUrl">
    </a>
  </div>
  <div class="hidden md:block text-button z-10">
    <a class="font-sans-light font-light" href="mailto:jsb@phantasmagorics-interiors.com">CONTACT US</a>
  </div>
  <div class="z-10 md:hidden" *ngIf="isHome">
    <a class="block cursor-pointer mt-[40.5px]" href="home">
      <img id="mobile" loading="lazy" class="h-[42px]" src="assets/logo-mobile.png">
    </a>
  </div>
</header>
