<div class="text-phantasmagorics-blue font-peridot">
  <h1 class="text-title md:mt-[72px] mt-[45px]">ABOUT</h1>
  <div class="flex flex-col items-center">
    <img class="md:mt-[50px] mt-[35px]" loading="lazy" src="assets/about/profile.png">
  </div>
  <div class="md:mt-[80px] mt-[51px] flex flex-col w-full max-w-[700px] mx-auto text-common leading-[20px] description">
    <p>
      <b>PHANTASMAGORICS</b> is a design studio. We are focused on Interiors+ : Full-scale interior
      renovations, site-specific interior installations, and the finishing and furnishing of interiors. We also
      design outdoor environments of linked interior spaces.
    </p>
    <p>
      Our work is user-tailored, narrative-driven, heritage-informed, and easefully modern. We:
    </p>
    <p>
      Reshape and reconfigure space.
    </p>
    <p>
      Employ engaging textures and alluring materials.
    </p>
    <p>
      Implement clever color and creative lighting.
    </p>
    <p>
      Source and design captivating objects and furnishings.
    </p>
    <p>
      Structured via schematic and design development, construction documentation and
      administration – we create spaces that are artful, sometimes droll, always transformative, and
      entirely fulling.
    </p>
    <p>
      We are based in New York City.
    </p>
    <br/>
    <br/>
    <p>
      <b>Jessica Salomons-Bordes</b> is a designer and the founder of PHANTASMAGORICS.
    </p>
    <p>
      Jessica graduated from The New School – Parsons School of Design in NYC with an AAS in Interior
      Design. She earned a BS in Business Administration from Babson College in Wellesley,
      Massachusetts.
    </p>
    <p>
      Pivoting to design in 2017, Jessica worked with small New York City based architectural studios
      before dedicating herself full-time to PHANTASMAGORICS in 2022. She previously was a private
      equity fundraiser, first in Paris, France then in New York City.
    </p>
    <p>
      Jessica is a proud member of Female Design Council.
    </p>
  </div>
  <div class="flex flex-col items-center">
    <img class="md:mt-[50px] mt-[42px] md:w-[180px] w-[140px] md:-mb-2 -mb-1.5" loading="lazy" src="assets/about/FDC-25-Black.png">
  </div>
</div>
