<div class="text-phantasmagorics-blue">
  <h1 class="text-title md:mt-[72px] mt-[45px]">ABOUT</h1>
  <div class="flex flex-col items-center">
    <img class="md:mt-[50px] mt-[35px]" src="assets/about/profile.png">
  </div>
  <div class="md:mt-[80px] mt-[51px] flex flex-col max-w-[789px] mx-auto text-common leading-[20px] description">
    <p>
      <b>PHANTASMAGORICS</b> is a design studio.<br/>
      We are focused on Interiors+: Full-scale interior renovations, site-specific interior installations,
      and the finishing and furnishing of interios. We also design outdoor environments of linked interior spaces.
       Our work is user-tailored, narrative-drivven, heritage-informed, and easefully modern.
    </p>
    <p>
      We reshape and reconfigure space.
    </p>
    <p>
      Employ engaging textures and alluring materials.
    </p>
    <p>
      Implement clever color and creative lighting.
    </p>
    <p>
      Curate sound and scent.
    </p>
    <p>
      Source and design captivating objects and furnishings.
    </p>
    <p>
      Structured via schematic and design development, construction documentation and administration - we creativespaces that are artful, sometimes
      droll, always transformative, and entirely fulling. We are based in New York City.
    </p>
    <p>
      <b>Jessica Salomons-Bordes</b> is a designer and founder of <b>PHANTASMAGORICS</b>.<br/>
      Jessica graduated from The New School – Parsons School of Design in NYC with an AAS in Interior
      Design. She earned a BS in Business Administration from Babson College in Wellesley, Massachusetts.
      Pivoting to design in 2017, Jessica worked with small New York City base architectural studios before dedicating herself
      full-time to PHANTASMAGORICS in 2022. She previously was a private equity fundraiser, first in paris, France then in New York City.
    </p>
  </div>
</div>
