<div class="absolute top-0 left-0 h-screen w-full bg-phantasmagorics-blue text-phantasmagorics-white flex flex-col items-center justify-center">
  <div class="flex flex-col justify-center w-[800px] mx-auto text-common">
    <p>
      PHANTASMAGORICS is a design studio that focuses on transformative renovations, bespoke
      installations, finishings and furnishing at interior spaces, as well as their associated exterior
      environments: Interiors+.
    </p>
    <p>
      Collectively structured via Schematic and Design Development, Construction Documentation and
      Administration, we:
    </p>
    <p>
      Reshape and recast spaces.
    </p>
    <p>
      Employ engaging textures and alluring materials.
    </p>
    <p>
      Implement clever color and creative lighting.
    </p>
    <p>
      Curate sound and scent.
    </p>
    <p>
      Source and design captivating objects and furnishings.
    </p>
    <p>
      Our work is user-tailored, narrative-driven, heritage-informed, and easefully modern.
    </p>
    <p>
      Jessica Salomons-Bordes is a designer and founder of PHANTASMAGORICS.
      Jessica graduated from The New School – Parsons School of Design in NYC with an AAS in Interior
      Design. She earned a BS in Business Administration from Babson College in Wellesley,
      Massachusetts. Prior to designing, she was a private equity fundraiser, first in Paris, France then in
      New York City.
    </p>
  </div>
</div>
