.swiper{
  display: flex;
  overflow: hidden;
  max-height: 650px;
}
.swiper-wrapper{
    display: flex;
}
.swiper-slide img {
  object-fit: fill;
}

@media only screen and (min-width: 768px) {
    .swiper{
      display: flex;
      overflow: hidden;
      max-height: 650px;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide img {
      object-fit: none;
    }

}
