<p class="title">/PROJECTS</p>
<div class="swiper" oncontextmenu="return false;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of images">
            <img class="gallery-img" [src]="image" alt="Hotel Somewhere img" loading="lazy">
            <div class="swiper-lazy-preloader"></div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="project-text">
    <h1>Upper West Side Duplex Pied à Terre</h1>
    <h2>Full-scale gut renovation + Furnishing</h2>
    <h3>700sg ft + 300sg ft deck</h3>
    <p>Sharp, cool whites, with considered use of bold color and unique textures, exemplify the north facing apartment’s ‘art
        gallery’ aesthetic.</p>
    <p>A light reflecting, brushed aluminum kitchen island, with integrated sink and seating overhang ground an opened
        kitchen plan. A single wall of flat-front, panel-ready appliances and millwork merges the kitchen area with the adjacent
        living area. The new living space is enlarged, with the intriguing aluminum island ‘center table’, and surrounding
        circulation underwriting casual, fluid entertaining.</p>
    <p>Prime-grade white oak flooring and stair. Aged ash cladding, floor planks and parapets at exterior deck. Flush, frameless
        doors with minimal or invisible hardware secret away storage and baths. Flush switches and outlets. Reveal baseboards.
        Round, recessed wall wash and downlights at the 1st level. Globe ceiling lights at the 2nd level. Matte walls, with light
        reflecting semi-gloss at the stairwell. Refurbished deck doors and sidelites. New windows. An oversized awning window
        encloses a previously open terrace and further grows the living space. These foundational, museum-inspired finishes
        create a canvas through which declarative, postmodern furnishings, colored floor lighting and contrasting rustic wood
        seating become artful, highlighted objects.</p>
    <p>The bath contains honed, cream, and ochre cement tile. A dramatic, full wall mirror doubles the perceived size of the
        small space. Curbless, walk-in shower with wall and floor recessed glass partition. Recessed ceiling showerhead for
        maximal clearance. Minimal chrome fixtures. Hidden storage niche. In-wall vanity bar. A highly functional, while
        directionally designed space.</p>
    <p>The powder room employs hand-cut mosaics, a jute ceiling, surrealist floor standing mirror and plush mat to create a
        North African informed, phantasmagoric, personal inner sanctum adjacent to the bedroom.</p>
</div>