header{
    display: none;
}
.projects-container{
    padding-top: 10vw;
    padding-inline: 5vw;
    margin-bottom: 50px;
}
.thumbnails-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    display: block;
}
@media only screen and (min-width: 600px) {
    .projects-container{
        padding-top: 5vw;
        padding-inline: 5vw;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
    }
    .logo{
        display: flex;
        width: 13%;
    }
    .logo a{
        display: block;
        width: 100%;
    }
    .logo-mobile{
        display: none;
    }
    .logo-desktop{
        display: block;
        width: 100%;
    }
    .contact-us{
        display: block;
        font-size: 13px;
        color: #002FA7;
        text-decoration: none;
        font-family: work sans;
    }
    .projects-menu{
        display: none;
    }
    .thumbnails-container {
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    .thumbnail{
        width: 385px;
        height: 235px;

    }

}
