<section class="text-phantasmagorics-blue">
  <h1 class="text-title md:mt-[72px] mt-[45px]">PROJECTS</h1>
  <section
    id="thumbnails-container"
    class="
      md:mt-[50px]
      mt-[35px]
      flex
      flex-col
      items-center
      md:flex-row
      md:flex-wrap
      md:justify-center
      gap-y-[28px]
      xl:gap-y-[4vw]
      lg:gap-y-[5vw]
      md:gap-y-[7vw]
      xl:gap-x-[6vw]
      lg:gap-x-[7vw]
      md:gap-x-[10vw]
      gap-x-[28px]
    "
  >
    <app-gallery-item
      *ngFor="let item of galleryItems"
      [href]="item.href"
      [src]="item.src"
    />
  </section>
</section>
