.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  row-gap: 12px;
  column-gap: 24px;
}
.item {
  height: 120px;
  width: 323px;
  background-color: #272727;
  color: #FFFFFF;
}
