<div class="menu-box">
    <button class="menu-button" (click)="openMenu()" style="border: none; background: none;">
        <img src="./assets/menu.png">
    </button>
    <div class="menu" #menu>
        <div class="menu-body">
            <nav>
                <ol>
                    <hr />
                    <li>
                        <a class="menu-list-item" routerLink="/projects" (click)="closeMenu()">PROJECTS</a>
                    </li>
                    <hr />
                    <li>
                        <a class="menu-list-item"  (click)="closeMenu()">PRODUCT</a>
                    </li>
                    <hr />
                    <li>
                        <a class="menu-list-item"  (click)="closeMenu()">ABOUT</a>
                    </li>
                    <hr />
                    <li>
                        <a class="menu-list-item info"  (click)="closeMenu()">INSTAGRAM</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
