<div class="flex text-sm text-phantasmagorics-white">
  <button class="w-full flex flex-row items-center justify-center cursor-pointer z-10" #homeButton (click)="openMenu()">
      <img class="max-w-[32px] md:block hidden" [src]="menuImageUrl.desktop">
      <img class="max-w-[32px] md:hidden block" [src]="menuImageUrl.mobile">
      <span
        class="ml-4 text-button font-sans-light font-light md:block hidden"
        [ngClass]="{'text-phantasmagorics-white': isWhiteText, 'text-phantasmagorics-blue': !isWhiteText}"
      >
        MENU
      </span>
  </button>
  <div class="menu md:pt-[89px] pt-[88px] md:pl-[165px] pl-[25px]" #menu>
    <button class="flex flex-row items-center" (click)="collapseMenu()" style="border: none; background: none;">
      <img class="max-w-[32px] md:block hidden" src="assets/menuToggle/menuWhiteDesktop.png">
      <img class="max-w-[32px] md:hidden block" src="assets/menuToggle/menuWhiteMobile.png">
      <span class="ml-4 text-button font-sans-light font-light md:block hidden">MENU</span>
    </button>
    <div class="flex flex-col md:pl-[249px] md:pt-[159px] pt-[159px] items-start">
      <app-menuButton [onlyMobile]="true">
        <a href="home">HOME</a>
      </app-menuButton>
      <app-menuButton>
        <a href="projects">PROJECTS</a>
      </app-menuButton>
      <app-menuButton>
        <a href="product">PRODUCT</a>
      </app-menuButton>
      <app-menuButton>
        <a href="about">ABOUT</a>
      </app-menuButton>
      <app-menuButton>
        <a href="https://www.instagram.com/phantasmagorics_id?igsh=MXdrN29qNzZsMzN2eA==" target="_blank">INSTAGRAM</a>
      </app-menuButton>
      <app-menuButton [onlyMobile]="true">
        <a href="mailto:jsb@phantasmagorics-interiors.com">CONTACT US</a>
      </app-menuButton>
    </div>
  </div>
</div>
