<div class="absolute top-0 left-0 h-screen w-full bg-phantasmagorics-blue text-phantasmagorics-white flex flex-col items-center justify-center px-[25px]">
  <div class="flex flex-col md:items-center justify-center lg:w-[800px] w-full mx-auto">
    <h1 class="text-title mb-[80px]">TERMS & CONDITIONS</h1>
      <p class="text-common leading-[25px]">
        All content of our web site (including text, graphics, logos, button icons, images, and software) is the property of <b>PHANTASMAGORICS LLC</b>.
        No part of these pages may be used for any purpose other than personal and/or non-commercial use, unless explicit authorization is given by <b>PHANTASMAGORICS LLC</b>.
        Any linking, reproduction, modification, storage in a retrieval system or retransmission, in any form or by any means – electronic, mechanical or otherwise, for reasons other than personal and/or non-commercial use, is strictly prohibited without prior written permission.
        For press request please contact us at <a href="mailto:jsb@phantasmagorics-interiors.com">jsb@phantasmagorics-interiors.com</a>.
      </p>
  </div>
</div>

