<div class="terms-container">
    <h1>TERMS & CONDITIONS</h1>

    <div class="p-container">
        <p>All content of our web site (including text, graphics, logos, button icons, images, and software) is the property of PHANTASMAGORICS&nbsp;LLC. 
            No part of these pages may be used for any purpose other than personal and/or non-commercial use, unless explicit authorization is given by PHANTASMAGORICS&nbsp;LLC. 
            Any linking, reproduction, modification, storage in a retrieval system or retransmission, in any form or by any means – electronic, mechanical or otherwise, for reasons other than personal and/or non-commercial use, is strictly prohibited without prior written permission. 
            For press request please contact us at <a href="mailto:jsb@phantasmagorics-interiors.com">jsb@phantasmagorics-interiors.com</a>.</p>
    </div>
</div>

