<div class="text-phantasmagorics-blue">
  <h1 class="text-title md:mt-[72px] mt-[45px]">PROJECT</h1>
  <div class="swiper" oncontextmenu="return false;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of images">
          <img class="gallery-img" [src]="image" alt="Hotel Somewhere img" loading="lazy">
          <div class="swiper-lazy-preloader"></div>
        </div>
    </div>
  </div>
  <div class="flex flex-row items-center justify-between w-full max-w-full mx-auto mt-4">
    <button
      class="text-phantasmagorics-blue hidden md:block border-b border-b-phantasmagorics-blue text-button z-20 swiper-button-prev"
      [ngClass]="{'text-opacity-40 border-opacity-15': isFirstImage}"
    >
      PREVIOUS
    </button>
    <button
      class="text-phantasmagorics-blue hidden md:block border-b border-b-phantasmagorics-blue text-button z-20 swiper-button-next"
      [ngClass]="{'text-opacity-40 border-opacity-15': isLastImage}"
    >
      NEXT
    </button>
  </div>
  <div class="description flex flex-col justify-center max-w-[700px] mx-auto text-common leading-6 mt-[73px]">
    <h1>{{ description.title }}</h1>
    <h2>{{ description.subTitle }}</h2>
    <h3>{{ description.boldFooter }}</h3>
    <br/>
    <ng-container *ngFor="let paragraph of description.paragraphs; let last = last">
      <p>{{ paragraph }}</p>
      <br *ngIf="!last"/>
    </ng-container>
  </div>
</div>

