<p class="title">/PROJECTS</p>
<div class="swiper" oncontextmenu="return false;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of hotelImages">
            <img class="gallery-img" [src]="image" alt="Hotel Somewhere img" loading="lazy">
            <div class="swiper-lazy-preloader"></div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="project-text">
    <h1>Greenwich Village Hotel – Studio Project</h1>
    <h2>Repurposing and fit out of existing structure + Furnishing</h2>
    <h3>3250 sq ft</h3>
    
    <p>Offering viable, aesthetic means to effect discarded plastics remediation, the hotel repurposes disposed plastics and
        employs them as wall finish.</p>
    <p>The façade skin is constructed from ocean plastic derived garbage bags that are filled with wholly unrecyclable, discarded plastic packaging. The stacked bags recall those disposed curbside, for sanitation pickup in Greenwich
        Village and across New York City. The installation turns waste into an artfully designed installation piece.</p>
    <p>Lobby walls are adorned with discarded everyday plastic tools, textiles, and receptacles. Inspired by Hassan Sharif,
        this wall intervention contends that everyday plastic objects have aesthetic value, regardless of their initial purpose’s
        having expired.</p>
    <p>The elevator bay is clad in bales of shredded, compressed PET plastics. An integral stage of recycled plastics
        manufacturing, bales fashioned by recycling plants here serve as exciting, textural, multicolored partitions.</p>
    <p>The bar is inspired by compression sculptures by César Baldaccini. Pressed, heat treated and remolded PET is draped
        at walls, rendering the bar a strong, design narrative-led meeting place</p>
</div>