<p class="title">/PROJECTS</p>
<div class="swiper" oncontextmenu="return false;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of images">
            <img class="gallery-img" [src]="image" alt="Hotel Somewhere img" loading="lazy">
            <div class="swiper-lazy-preloader"></div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="project-text">
    <h1>Harlem Fitness Studio</h1>
    <h2>Fit-out + Custom Millwork</h2>
    <h3>600sg ft</h3>
    <p>The client desired a clean, modern, highly functional space for private client exercise classes.</p>
    <p>High traffic, waterproof, noxious chemical free vinyl tile, with cork backing, was selected to provide the intimate texture
        and tone of genuine wood flooring, while withstanding frequent wet cleaning. Dimensionally stable, the floor resists
        denting from heavy fitness apparatuses.</p>
    <p>Channeled LED strip lights are hung from the ceiling as uplights. Billowing fabric installed below the fixtures diffuses
        light and generates a dramatic, soft, uniform glow of light throughout the space. Matte off-white walls. New storefront
        sidelites. Flush switches and outlets. New 3” electric baseboard heating throughout.</p>
    <p>Custom storage millwork for each of client personal effects and fitness equipment was essential. Outerwear is stored
        behind space saving, lateral hinge closet doors. A hidden closet, opened via touch latch, hides unsightly cleaning
        products and tools. Right sized cubbies and hanging rods allow easy access to exercise tools.</p>
</div>