<p class="title">/PROJECTS</p>
<div class="swiper" oncontextmenu="return false;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let image of images">
            <img class="gallery-img" [src]="image" alt="141W85 img" loading="lazy">
            <div class="swiper-lazy-preloader"></div>
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="project-text">
    <h1>Upper West Side Triplex Residence</h1>
    <h2>Full-scale gut renovation + Furnishing</h2>
    <h3>700sg ft</h3>
    <p>Textured materials in muted colors and minimal furnishings, were used to design the apartment’s calming aesthetic.</p>
    <p>Creating a warm, deeply engaging bath was key for the clients. Softly brushed, seamless tadelakt walls anchor the
        space in serenity. A freestanding bathtub with adjacent niche supports extra-long soaking. A curbless walk-in shower
        with glass partition keeps the bath open, uninterrupted. Monochrome matte floor tile, minimal plumbing fixtures, and
        dynamic ‘warm-to-dim’ lighting round out the room’s easeful atmosphere.</p>
    <p>Smoked, rustic-grade white oak flooring at the 1st and 2nd levels. Concrete floor tile at the cellar. Pale gray walls
        throughout. Flush, frameless doors with minimal hardware or inset leather pulls enclose hidden, abundant, in-wall
        storage for quotidian and occasional items. Matte white joists and masonry walls, where exposed. A mix of ceiling
        surface mount and recessed cube lighting. A monochrome, deep gray kitchen with flat fronts, panel ready appliances,
        hidden exhaust, and concealed outlets. Raw steel spiral stair. Together, these foundation finishes set the stage for rightsized,
        iconic Danish furnishings in patinated leather and brushed steel, veined marble, linens, wools, and natural oak.</p>
    <p>Highly architectural tranquility achieved.</p>
</div>