main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    margin-bottom: 58px;
    
    max-width: 100%;
    width: 100%;
    
}
.logo-desktop{
    display: none;
    width: 25%;
}
.logo-mobile{
    width: 50%;
}
footer{
    text-align: center;
    flex: 1;
    margin-bottom: 65px;
    width: 100%;
}
.contact-us{
    font-size: 16px;
}
a, a:visited, a:active, a:hover{
    color: white;
    text-decoration: none;
    font-family: "WorkSans-Light";
}
p{
    font-family: 'WorkSans-Light';
    font-size: 11px;
    color: white;
}
@media only screen and (min-width: 600px) {
    .logo-mobile{
        display: none;
    }
    .logo-desktop{
        display: flex;
    }
}