<main #main class="main">
    <header>
        <div class="menu">
            <app-menu></app-menu>
        </div>
        <div class="logo">
            <a routerLink="/home">
                <img class="logo-desktop" src="/assets/logo-desktop.png">
                <img class="logo-mobile" src="/assets/logo-mobile.png">
            </a>
        </div>
    </header>
    <div class="content">
        <div class="contact-us">
            <a href="mailto:jsb@phantasmagorics-design.com">CONTACT US</a>
        </div>
    </div>
    <footer>
        <p class="p-margin-bottom">ALL RIGHTS RESERVED</p>
        <a>TERMS AND CONDITIONS</a>
    </footer>
</main>
